<!-- Header -->
<mat-toolbar color="primary" class="app-header">
  <div class="header-content">
    <div class="header-left">
      <mat-icon class="header-icon">rocket_launch</mat-icon>
      <div class="header-text">
        <h1 class="app-title">IISA Dashboard</h1>
        <span class="subtitle">Israeli Imaginary Space Agency</span>
      </div>
    </div>
  </div>
</mat-toolbar>

<!-- Main Content with Tabs -->
<div class="main-content">
  <mat-tab-group animationDuration="300ms">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>people</mat-icon>
        <span>Candidates</span>
      </ng-template>
      <div>
        <app-candidates></app-candidates>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>dashboard</mat-icon>
        <span>Overview</span>
      </ng-template>
      <div>
        <app-overview></app-overview>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>analytics</mat-icon>
        <span>Analytics</span>
      </ng-template>
      <div>
        <app-analytics></app-analytics>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
